main.confirmpurch {

    font-family:"Space Mono", monospace;

    padding: 0 50px 80px 50px;

    & h2{
        margin: 50px 0 10px 0;
    }

    & p{
        margin: 0;
    }

    & section.product {

        & form{
            position: relative;
            margin-top:40px;
            display: grid;
            grid-template-columns: 450px auto 1fr;
            grid-template-rows: repeat(7,auto);
            padding: 20px;

        
            & input{
                padding: 0;
                border: none;
                outline: none;
                font-family: "Space Mono", monospace;
                text-wrap: wrap;
            }

            & > label{
                margin:0 20px 0 10px;
                grid-column-start: 2;
                grid-column-end: 3;
            }
            & label.type{margin-top: 20px;margin-bottom:20px;}
            & p.type{margin: 20px 0;}
            & div.select{
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 6;
                grid-row-end: 7;
                margin-top: 20px;
            }
            & input:hover{cursor: default;}
            & img{
                width: 100%;
                grid-row-start:1;
                grid-row-end: 6;
                grid-column-start: 1;
                grid-column-end:2;
            }
        }

        & form::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top:0;
            background-color: transparent;
            grid-column: 1/4;
            grid-row: 1/7;
            outline: 1px solid black;
            outline-offset: 20px;
        }

    }
}