main.confirmpurch {

    font-family:"Space Mono", monospace;

    padding: 0 50px;

    & h2{
        margin: 50px 0 10px 0;
    }

    & p{
        margin: 0;
    }

    & p,label{font-size: clamp(0.75rem,1.5vw,1rem);}

    & section.products {

        margin:40px 0 80px 0;


    }
}