main.purch{

    padding: 0 50px;

    & h2{
        margin: 0;
        font-size: clamp(15px,2vw,25px);
    }

    & section.pchcont {
        font-family:"Space Mono", monospace;
        display: grid;
        grid-template-columns: 55% auto;
        grid-template-rows: repeat(2,auto);
        & > img{
            width: 100%;
        }
        & p{
            font-weight:normal;
            font-size: clamp(13.5px,1.2vw,0.9375rem) /*15px*/;
        }
        & section.purchase {
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: auto 1fr;
            margin-left: 10px;
            padding-bottom: clamp(5px,2.2vw,30px);
            & span{color: var(--cred);text-decoration: underline;}
            & h3, h4{
                font-weight:normal;
                font-size: clamp(13.5px,1.2vw,0.9375rem) /*15px*/;
            }
            & form{
                display: flex;
                flex-direction: column;
                & input[type="radio"] {
                    all: unset;
                    background-color: white;
                    margin: 0 6px;
                    padding: 7px;
                    border-radius: 50%;
                    outline: 1px solid rgb(196, 196, 196);
                    border: 1px solid rgb(196, 196, 196);
                    outline-offset: 4px;
                }
                & input[type="radio"]:hover, label:hover{cursor: pointer;}
                & input[type="radio"]:checked {background-color: red;}
                & label {font-size: 0.75rem; margin-left: 10px;}
                & div{margin: 7px 0;display: flex;align-items: center;}
                & div:nth-child(2){margin-bottom: 15px;}
            }
        }
        & section.description {
            display: flex;
            margin-top: 40px;
            & img{
                width: 45%;
            }
            & > section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
                & p{margin: 5px 0;}
            }
        }   
    }

    & section.fotos {
        font-family: "Space Mono", monospace;
        display: flex;
        flex-direction: column;
        & > div {
            margin: 40px 0;
            align-self: center;
            width: 70%;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,auto);
            
            & * {
                width: 100%;
            }
        }
    }

}