section.product{
    padding: 20px;
    grid-template-columns: clamp(100px,34vw,450px) auto 1fr;
    display: grid;
    position: relative;

    & > label{
        margin:0 20px 0 10px;
    }

    & a{
        color: var(--cred);
        text-decoration: underline;
    }

    & input{
        padding: 0;
        border: none;
        outline: none;
        font-family: "Space Mono", monospace;
        text-wrap: wrap;
    }

    & input[type="radio"]{
        all: unset;
        padding: 5px;
        outline: 1px solid rgb(161, 161, 161);
        border: 1px solid rgb(161, 161, 161);
        outline-offset: 2px;
        margin: 0 4px;
        background-color: inherit;
    }

    & input:checked{
        background-color: red;
    }

    & label.type{margin-top: 20px;margin-bottom:20px;}
    & p.type{margin: 20px 0;}
    & div.select{
        grid-column:3/4;
        grid-row:6/7;
        margin-top: 20px;
    }
    & input:hover{cursor: default;}
    & img{
        width: 100%;
        grid-row-start:1;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end:2;
    }
    & div.other{
        grid-column:3/4;
        grid-row: 7/8;
        margin-top: 70px;
    }
}

section.product:nth-child(n+2) {
    margin-top: 80px;
}

section.product::after {
    content: "";
    position: absolute;
    background-color: transparent;
    z-index: -1;
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row:1/7;
    outline: 1px solid black;
    outline-offset: 20px;
}